.casisemibold{
    font-weight:600;
    font-size: 14px;
  }
.letrachica{
    font-size: 12px;
}

.efectofoot {
    text-transform: uppercase;
    text-decoration: none;
    color: #5882C0;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
  }
  
  .efectofoot::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #5882C0;
  }
  
  .efectofoot::before {
    width: 0%;
    bottom: 10px;
  }
  
  .efectofoot:hover::before {
    width: 100%;
  }