.casisemibold{
    font-weight:600;
    font-size: 14px;
  }
.letrachica{
    font-size: 13px;
}

.efectofoot {
    text-transform: uppercase;
    text-decoration: none;
    color: #5885C7;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    font-size: 13px;
  }
  
  .efectofoot::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #5885C7;

  }
  
  .efectofoot::before {
    width: 0%;
    bottom: 2px;
  }
  
  .efectofoot:hover::before {
    width: 100%;
  }

  ul{
    list-style-type:none;
  }