body {
  font-family: "Red Hat Display", sans-serif;
}
.bold {
  font-weight: 900;
}
.semibold{
  font-weight:600;
  font-size: 12px;
}
.azul{
  color:#5885C0;
}
.gris{
  background-color:#D8D8D8;
}
.negro{
  background-color: #202020;
}

.fondogradiente {
  background-color: #5885C0;
  background-image: linear-gradient(90deg, #5885C0 0%, #322B7F 100%);  
}
#whatsapp {
  width: 100px;
  position: fixed;
  z-index: 9;
  bottom: 40px;
  left: 25px;
  border-radius: 50%;
}


/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
  .noxs {
    display: none;
  }
  .justificado{
    text-align: left;
    padding-left: 50px;
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .nosm {
    display: none;
  }
  .justificado{
    text-align: left;
    padding-left: 50px;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .nomd {
    display: none;
  }
  
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .nolg {
    display: none;
  }
  .formcontacto{
    padding-right: 80px;
    padding-left: 80px;
    padding-top:50px;
  }
  .margencontacto{
    margin-top: 20px;
  }
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .noxl {
    display: none;
  }
  .formcontacto{
    padding-right: 80px;
    padding-left: 80px;
    padding-top:50px;
  }
  .margencontacto{
    margin-top: 20px;
  }
}
