body {
  font-family: "Red Hat Display", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.bold {
  font-weight: 900;
}
.semibold {
  font-weight: 600;
  font-size: 12px;
}
.azul {
  color: #5885c0;
}
.gris {
  background-color: #d8d8d8;
}
.negroheader {
  background-color: #202020;
}
.negro {
  color: black;
}
.rojo {
  color: #cc3a31;
}
.fondogradiente {
  background-color: #5885c0;
  background-image: linear-gradient(90deg, #5885c0 0%, #322b7f 100%);
}
#whatsapp {
  width: 100px;
  position: fixed;
  z-index: 9;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
}
#botonenviar {
  background-color: #5885c0;
  border: none;
  border-radius: 0;
}
.forms {
  border-radius: 0;
  border-color: black;
}
.sliderpadre {
  position: relative;
}
.equiposchicos{
  align-items: center;
  justify-content: center;
}
/* FUENTES */
.gothambold {
  font-family: "Gotham Bold";
}
.gothambook{
  font-family: "Gotham Book";
}
.gothamlight{
  font-family: "Gotham Light";
}
.gothammedium{
  font-family: "Gotham Medium";
}
@font-face {
  font-family: "Gotham Bold";

  src: url("/src/fonts/Gotham\ Bold.otf") format("OpenType");
}
@font-face {
  font-family: "Gotham Book";

  src: url("/src/fonts/Gotham\ Book.otf") format("OpenType");
}

@font-face {
  font-family: "Gotham Light";

  src: url("/src/fonts/Gotham\ Light.otf") format("OpenType");
}

@font-face {
  font-family: "Gotham Medium";

  src: url("/src/fonts/Gotham\ Medium.otf") format("OpenType");
}
.titulos {
  position: relative;
  justify-content: center;
}
.positionprevlg{
  position: absolute;
  align-self:center;
  left:7px;
}
.positionnextlg{
  position: absolute;
  align-self:center;
  right:7px;
}

/*MEDIA QUERIES*/
/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
  .noxs {
    display: none;
  }
  .justificado {
    text-align: left;
    padding-left: 50px;
  }
  .margencontactoo {
    margin-left: 10px;
  }
  .carousel-caption {
    position: absolute;
    top: 40px;
    left: 50px;
  }
  .nuestrosequipos{
    margin-top: 50px;
    margin-bottom:45px;
  }
  /* .paddingclients{
    padding-top: 50px;
    padding-bottom: 45px;
  } */
  .flechasSlider{
    width:17px;
  }
  .sizeWP{
    height:45px;
    width:45px;
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 767px) {
  .nosm {
    display: none;
  }
  .justificado {
    text-align: left;
    padding-left: 50px;
  }
  .carousel-caption {
    position: absolute;
    top: 60px;
    left: 50px;
  }
  .nuestrosequipos{
    margin-top: 50px;
    margin-bottom:45px;
  }
  .paddingclients{
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .flechasSlider{
    width:17px;
  }
  .sizeWP{
    width:45px;
    height:45px;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 767px) and (max-width: 991px) {
  .nomd {
    display: none;
  }
  .carousel-caption {
    position: absolute;
    top: 130px;
    left: 90px;
  }
  .capturatitulosleft {
    width: 90px;
    position: absolute;
    left: 0px;
  }
  .capturatitulosright {
    width: 90px;
    position: absolute;
    right: 0px;
  }
  .algunosclients{
    padding-left:30px;
  }
  .nuestrosequipos{
    padding-left:30px;
    margin-top: 50px;
    margin-bottom:45px;
  }
  .paddingclients{
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .flechasSlider{
    width:25px;
  }
  .sizeWP{
    width:60px;
    height:60px;
  }
}
/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  .nolg {
    display: none;
  }
  .formcontacto {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 50px;
  }
  .margencontacto {
    margin-top: 20px;
  }
  .carousel-caption {
    position: absolute;
    top: 270px;
    left: 170px;
  }
  .margenlg {
    margin-left: 200px;
  }
  .margencontactoo {
    margin-left: 90px;
  }
  .capturatitulosleft {
    position: absolute;
    left: 0px;
  }
  .capturatitulosright {
    position: absolute;
    right: 0px;
  }
  .nuestrosequipos{
    padding-left:30px;
    margin-top: 50px;
    margin-bottom:55px;
  }
  .paddingclients{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .flechasSlider{
    width:30px;
  }
  .sizeWP{
    width:60px;
    height:60px;
  }
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  .noxl {
    display: none;
  }
  .formcontacto {
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 50px;
  }
  .margencontacto {
    margin-top: 20px;
  }
  .carousel-caption {
    position: absolute;
    top: 270px;
    left: 170px;
  }
  .margencontactoo {
    margin-left: 90px;
  }
  .capturatitulosleft {
    position: absolute;
    left: 0px;
  }
  .capturatitulosright {
    position: absolute;
    right: 0px;
  }
  .nuestrosequipos{
    padding-left:30px;
    margin-top: 50px;
    margin-bottom:55px;
  }
  .paddingclients{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .flechasSlider{
    width:30px;
  }
  .sizeWP{
    width:60px;
    height:60px;
  }
}
